In [9]:
import pandas as pd

In [12]:
pwd

'C:\\Users\\SoumyaRoy\\Downloads'

In [16]:
flag = "Footnote_Reference.xls"

In [17]:
df = pd.read_excel(flag)

In [18]:
df.head()

   Footkey STATEKEY                                           Footnote
0        0      ALL                                   (No Description)
1     5002       VA  Independent city of Bedford included with Bedf...
2     5003       VA  Independent city of Bristol included with Wash...
3     5004       VA  Independent cities of Buena Vista and Lexingto...
4     5005       VA  Independent city of Charlottesville included w...