In [4]:
df = pd.read_csv("all_040_in_53.P1.csv")

In [5]:
df.head()

,GEOID,SUMLEV,STATE,COUNTY,CBSA,CSA,NECTA,CNECTA,NAME,POP100,HU100,POP100.2000,HU100.2000,P001001,P001001.2000
0,53,40,53,NaN,NaN,NaN,NaN,NaN,Washington,6724540,2885677,5894121,2451075,6724540,5894121